.inbox {
  display: flex;
  flex-direction: row;
}

.inb {
  font-weight: bold;
}

.subject {
  flex-grow: 1;
  width: 50%;
  margin: 6px auto;
}

.from,
.date,
.subject {
  margin: 6px auto;
}

.from {
  width: 30%;
}

.date {
  width: 20%;
}
