.expenditure {
  display: flex;
  flex-direction: row;
}

.title {
  width: calc(100% / 3);
  font-weight: bold;
  margin: 0;
}

.actual {
  width: calc(100% / 3);
  margin: 6px auto;
}

.description {
  width: calc(100% / 3);
  margin: 6px auto;
}

.comp-main {
  margin: 0 12px;
}
