body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  margin-top: 0;
  font-size: 3rem;
}

.navbar-links {
  position: absolute;
  top: 8px;
  right: 8px;
}

.navbar-links a {
  font-size: 24px;
  padding-left: 36px;
}

header {
  width: 90%;
  text-align: center;
  margin: 60px auto;
}

form {
  text-align: left;
  width: 50%;
  margin: auto;
}

label,
select {
  display: block;
  margin-top: 18px;
}

input,
select,
textarea {
  width: 100%;
}

ul {
  text-align: left;
}

.group {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.item {
  margin: 0 2%;
  text-align: center;
  width: 90%;
}

.item-pricing {
  margin: 0 2%;
  text-align: center;
  width: 50%;
}

@media all and (min-width: 850px) {
  header {
    width: 50%;
  }

  form {
    width: 25%;
  }

  .group {
    width: 80%;
    flex-direction: row;
    align-items: flex-start;
  }

  .item {
    width: 50%;
  }
}